{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        reagent/reagent {:mvn/version "1.2.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        binaryage/devtools {:mvn/version "1.0.7"}
        thheller/shadow-cljs {:mvn/version "2.25.8"}
        clj-kondo/clj-kondo {:mvn/version "2023.10.20"}
        io.github.clojure/tools.build {:mvn/version "0.9.6"}}
 :aliases {:test {:extra-paths ["test"]
                   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd6f5d7a3a4449e7d46dd8bd646e824496"}}
                   :exec-fn cognitect.test-runner.api/test}
           :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.10.20"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                    :main-opts ["-m" "cljfmt.main" "fix" "src" "test"]}
           :check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
                   :main-opts ["-m" "cljfmt.main" "check" "src" "test"]}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--port" "7002" "--host" "127.0.0.1"]}
           :shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.8"}}
                    :main-opts ["-m" "shadow.cljs.devtools.cli"]}
           :shadow-dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.8"}}
                        :main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}
           :shadow-release {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.8"}}
                            :main-opts ["-m" "shadow.cljs.devtools.cli" "release" "app"]}
           :shadow-compile {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.8"}}
                             :main-opts ["-m" "shadow.cljs.devtools.cli" "compile" "app"]}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}}
